---
import Layout from "@layouts/Layout.astro";
import AppLayout from "@layouts/AppLayout.astro";
import EthicalRouteDropzone from "@components/EthicalRouteDropzone";
import ArrowLeftIcon from "@components/icons/ArrowLeftIcon";
---

<Layout title="Agregar Caso Ético - Rutas Éticas">
  <AppLayout>
    <main class="w-full h-full flex flex-col items-center p-4">
      <section class="w-full max-w-md">
        <a
          href="/dashboard/"
          class="flex text-zinc-500 gap-1 items-center mb-4 text-sm hover:text-zinc-600 dark:hover:text-zinc-400 transition-colors duration-150"
        >
          <ArrowLeftIcon class="w-4 h-4" />
          Regresar al Dashboard
        </a>
        <h1
          class="font-semibold sm:text-2xl text-xl dark:text-zinc-100 text-zinc-900 w-full mb-6"
        >
          Agregar Nuevo Caso Ético
        </h1>
      </section>
      <EthicalRouteDropzone client:load />
    </main>
  </AppLayout>
</Layout>
