---
import Layout from "@layouts/Layout.astro";
import AppLayout from "@layouts/AppLayout.astro";
import EthicalRouteList from "@components/EthicalRouteList";
import { getUser, redirectToSignin } from "@lib/utils";
import { firestore } from "@lib/firebase/server";

// Obtener cookie de sesión
const sessionCookie = Astro.cookies.get("session")?.value ?? null;
if (!sessionCookie) {
  return redirectToSignin();
}

// Verificar sesión y usuario
const user = await getUser(sessionCookie);
if (!user) {
  return redirectToSignin();
}

const snapshot = await firestore.collection("ethical_routes").get();
const routes = snapshot.docs.map((doc) => {
  const routeData = doc.data();
  return {
    documentId: doc.id,
    question: routeData.question,
    description: routeData.description,
    participations: routeData.participations,
    difference: routeData.difference,
    created_at: routeData.created_at,
  };
});
---

<Layout title="Dashboard">
  <AppLayout>
    <main class="w-full grow flex flex-col items-center px-4">
      <h1
        class="text-xl sm:text-3xl max-w-xl dark:text-zinc-100 w-full text-zinc-900 font-semibold mt-10 mb-6"
      >
        Listado de casos éticos
      </h1>
      <EthicalRouteList routes={routes} />
    </main>
  </AppLayout>
</Layout>
